<div class="selector">
    <span>Rows per page</span>
    <app-select defaultValue="10" [total]="total / rowsPerPage" [onChangeRowsPerPage]="onChangeRowsPerPage">
    </app-select>
</div>

<ng-container *ngIf="onChangePage">
    <div class="pages">
        <input type="button" value="<" (click)="onChangePage($event, -1)" />
        <input type="button" *ngFor="let value of totalArray" [value]="value"
            [class]="value - 1 == currentPage ? 'selected' : ''" (click)="onChangePage($event)" />
        <input type="button" value=">" (click)="onChangePage($event, 1)" />
    </div>
</ng-container>