<div class="app-main">
    <app-header>
        <app-breadcrumb></app-breadcrumb>
        <div>
            <app-icon-document roundedIcon></app-icon-document>
            <h1>Inventory</h1>
        </div>
        <hr />
    </app-header>
    <app-nav>
        <div class="left">
            <app-category-switch></app-category-switch>
            <app-input placeholder="Search..." [onTextChange]="onSearch"></app-input>
        </div>
        <app-button value="New Product" icon="plus"></app-button>
    </app-nav>
    <app-table [table]="products_table" [onChangeRowsPerPage]="onChangeRowsPerPage"
        [onChangePage]="onChangePage"></app-table>
</div>