<div class="app-main">
    <app-header>
        <app-breadcrumb></app-breadcrumb>
        <div>
            <app-icon-document roundedIcon></app-icon-document>
            <h1>Inventory</h1>
        </div>
        <hr />
    </app-header>
    <app-nav>
        <div class="left">
            <app-category-switch [onChange]="onFilterByCategory"></app-category-switch>
            <app-input icon="search" placeholder="Search..." [onTextChange]="onSearch"></app-input>
        </div>
        <app-button [primary]="true" [onClick]="onOpenModal" value="New Product" icon="plus"></app-button>
    </app-nav>
    <app-table [table]="productsTable" [onChangeRowsPerPage]="onChangeRowsPerPage"
        [onTableDeleteItem]="onDeleteItem" [onChangePage]="onChangePage"></app-table>
</div>

<page-new-product [onSubmit]="onSubmit"></page-new-product>