$text-sm: 12px
$text-md: 16px
$text-lg: 24px

$radius-1: 8px

$primary-color: #424CE9

$gray-100: #F9FAFB
$gray-200: #E5E7EB  
$gray-400: #9CA3AF
$gray-700: #374151

$space-1: 8px
$space-2: 16px
$space-3: 24px
$space-4: 32px
$space-5: 40px
$space-6: 48px

*
    margin: 0
    padding: 0

body
    font-family: Lato

hr
    border: 0
    border-top: 1px solid $gray-200